.cardcarousel-container {
  background-color: black;
}

.cardcarousel {
  display: flex;
}

.cardcarousel-wrapper {
  margin: 1%;
  width: fit-content;
  max-width: unset !important;
}

.cardcarousel .outerdiv {
  display: flex;
  overflow: hidden;
  gap: 0.5%;
}

.cardcarousel .innerdiv {
  width: 25%;
  height: 200px;
  flex-shrink: 0;
  border-radius: 0.5rem;
}

.slide-transition-right,
.slide-transition-left {
  transition: transform 0.3s step-end;
}

.cardcarousel .cards-card-body {
  margin: 0px;
}

.cardcarousel .cards-card-image {
  line-height: 0;
}

.cardcarousel .cards-card-body > *:first-child {
  margin-top: 0;
  height: 15px;
}

.cardcarousel img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  opacity: 30%;
}

.cardcarousel h2,
.cardcarousel h3,
.carouselheading {
  color: #ffffff;
  padding-left: 1%;
  font-size: 1.5rem;
  position: relative;
  text-shadow: 0 0 4px #000, 0 0 8px #000;
}

.carouselheading {
  margin-left: 3%;
  margin-bottom: 2%;
  font-size: 1.3rem;
}

.cardcarousel a {
  color:white;
}

.cardcarousel a:hover {
  color:red;
  text-decoration: none;
}

.scrollRight,
.scrollLeft,
.scrollRight:focus,
.scrollLeft:focus {
  border: none;
  background-color: transparent;
  overflow: unset;
  margin: 0px;
  border-radius: 0px;
}

.scrollRight:hover,
.scrollLeft:hover {
   border: none;
  background-color: red;
  overflow: unset;
}

